<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revistafinal.Controlador">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Revista Digital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Registrar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_registrar"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".Iniciar"
            android:label="Iniciar Sesión" >
            android
        </activity>
        <activity
            android:name=".Revista"
            android:label="@string/title_activity_revista"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Lector.Menu"
            android:label="Revista Digital"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Admin.AdminMenu"
            android:label="@string/title_activity_admin_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ModificarCuenta"
            android:label="Modificar Cuenta">
        </activity>
    </application>

</manifest>
